html{
  width: 100%;
 height: 100%;
    background-color: antiquewhite;
 margin: 0%; 
 padding: 0%;
 border: none;
}
body{
  margin: 0%;
  padding: 0%;
width: 100%;
height: 100%;

background-color: aqua;
}
/* header{
    margin: 0%;
    width: 100%;
    height: 15%;
}
.container{
    margin: 0%;
    width: 100%;
    height: 60%;
    background-color: aquamarine;
}
footer{
    margin: 0%;
    width: 100%;
    height: 25%;
} */